<!-- SideBar -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span [routerLink]="">Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="[item.url]"
        (clck)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- navBar -->
  <mat-toolbar>
    <mat-toolbar-row class="flex justify-content-between">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <div>
        <button
          mat-button
          [matMenuTriggerFor]="menuCart"
          #menuTrigger
          class="shoppingCart">
          <mat-icon>shopping_cart</mat-icon>
        </button>

        <mat-menu #menuCart="matMenu">
          <table>
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio unidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart">
                <td>
                  {{ item.title }}
                </td>
                <td>
                  {{ item.quantity | number }}
                </td>
                <td>
                  {{ item.price | currency }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                Total:{{ total | currency }}
              </tr>
              <tr>
                <button
                  mat-menu-item
                  [routerLink]="['./payment/process']">
                  Pagar
                </button>
              </tr>
            </tfoot>
          </table>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>
          <mat-icon>person</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <div *ngIf="userExist(); else notAuth">
            <button mat-menu-item [routerLink]="['/users', user.id]">
              {{ user.username }}
            </button>
            <button mat-menu-item (click)="closeSesion()">
              cerrar sesion
              <mat-icon>logout</mat-icon>
            </button>
          </div>

          <ng-template #notAuth>
            <button mat-menu-item [routerLink]="'/auth/login'">
              Iniciar sesion
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="p-3">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
