<!-- SideBar -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span [routerLink]="">Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="[item.url]"
        (clck)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- navBar -->
  <mat-toolbar color="primary">
    <mat-toolbar-row class="flex justify-content-between">
      <div class="row flex justify-content-between align-items-center">
        <button
          mat-icon-button
          class="example-icon"
          (click)="sidenav.toggle()"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <h1 [routerLink]="['./']">Ecommerce</h1>
      </div>

      <div>
        <button
          mat-button
          [matMenuTriggerFor]="menuCart"
          #menuTrigger
          class="shoppingCart"
        >
          <i class="fa badge fa-lg" [attr.value]="totalItems">
            <mat-icon>shopping_cart</mat-icon>
          </i>
        </button>

        <mat-menu #menuCart="matMenu" class="cartProducts">
          <button mat-button
            color="warn"
            (click)="removeAll()">Remover todo</button>
          <div class="row">
            <table mat-table [dataSource]="cart" class="mat-elevation-z8">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row; let i = index">
                  <button mat-icon-button color="warn" (click)="removeProduct(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </td>
                <td mat-footer-cell *matFooterCellDef>
                  <div class="col">
                    <div class="row">
                      Total
                    </div>
                    <div class="row mt-6">
                      <button
                        mat-raised-button
                        color="primary"
                        [routerLink]="['./payment/process']">
                        Pagar
                      </button>
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="Producto">
                <th mat-header-cell *matHeaderCellDef>Producto</th>
                <td mat-cell *matCellDef="let element">{{ element.title }}</td>
                <td mat-footer-cell *matFooterCellDef> {{ total | currency}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="Cantidad">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let element">{{ element.quantity | number }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <ng-container matColumnDef="Precio">
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </div>
          <ng-template #cartEmpty>
            <p>
              Aun no se han agregado productos al carrito
            </p>
          </ng-template>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>
          <mat-icon>person</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <div *ngIf="userExist(); else notAuth">
            <button mat-menu-item [routerLink]="['/users', user.id]">
              {{ user.username }}
            </button>
            <button mat-menu-item (click)="closeSesion()">
              cerrar sesion
              <mat-icon>logout</mat-icon>
            </button>
          </div>

          <ng-template #notAuth>
            <button mat-menu-item [routerLink]="'/auth/login'">
              Iniciar sesion
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="p-3">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
