<div class="grid container">
  <div class="col-12 md:col-6 lg:col-7">
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio unidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart">
          <td>
            {{ item.title }}
          </td>
          <td>
            {{ item.quantity | number }}
          </td>
          <td>
            {{ item.price | currency }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 md:col-6 lg:col-5">
    <div class="paypal-container">
      <div class="ammount">
        <p>Total a pagar: {{ total | currency }}</p>
      </div>
      <div class="info">
        <p>No refrescar el navegador mientras la transaccion esta en proceso</p>
      </div>

      <div #paymentRef></div>

      <div class="col-12 mt-2">
        Credenciales de paypal
        <div class="row">
          <p><b>email: </b> sb-qpwnx27317839@personal.example.com</p>
          <p><b>password: </b> tT.mxX1'</p>
        </div>
      </div>

      <div class="back" (clcik)="cancel()"></div>
    </div>
  </div>
</div>
